+b.pro.section
  +e.inner.inner
    +e.P.sign Morbi aliquam ante vel pellentesque fringilla
    +e.H3.title Nuestros Profesionales
    +e.list
      +e.item
        +e.IMG.pic(src='/img/pro.jpg' alt='')
        +e.content
          +e.P.subcaption Directora
          +e.P.caption Cecilia Arévalo
      +e.item
        +e.IMG.pic(src='/img/pro.jpg' alt='')
        +e.content
          +e.P.subcaption General
          +e.P.caption Felices Jenifer
      +e.item
        +e.IMG.pic(src='/img/pro.jpg' alt='')
        +e.content
          +e.P.subcaption Cirugía
          +e.P.caption Gomes Alberto
      +e.item
        +e.IMG.pic(src='/img/pro.jpg' alt='')
        +e.content
          +e.P.subcaption Ortodoncia
          +e.P.caption Spano Miguele
      +e.item
        +e.IMG.pic(src='/img/pro.jpg' alt='')
        +e.content
          +e.P.subcaption Endodoncia
          +e.P.caption Millan Beatriz