include ../static/pug/head
+head('Главная')
body
  +header()
  include ../modules/banner/banner
  include ../modules/about/about
  include ../modules/service/service
  include ../modules/pro/pro
  include ../modules/review/review
  include ../modules/clinics/clinics
  include ../modules/call/call
  include ../modules/footer/footer
  

script(src="/js/common.js") 