+b.review.section
  +e.inner.inner
    +e.P.sign Morbi aliquam ante vel pellentesque fringilla
    +e.H3.title Lo que opinan Nuestros Pacientes
    +e.slider
      +e.slide
        +e.IMG.pic(src='/img/stub.png' alt='')
      +e.slide
        +e.IMG.pic(src='/img/stub.png' alt='')
      +e.slide
        +e.IMG.pic(src='/img/stub.png' alt='')