+b.clinic.section
  +e.inner.inner
    +e.P.sign Morbi aliquam ante vel pellentesque fringilla
    +e.H3.title Clínica Dental en Badalona
    +e.slider
      +e.slide
        +e.IMG.pic(src='/img/clinic-1.jpg' alt='')
      +e.slide
        +e.IMG.pic(src='/img/clinic-2.jpg' alt='')
      +e.slide
        +e.IMG.pic(src='/img/clinic-3.jpg' alt='')
      +e.slide
        +e.IMG.pic(src='/img/clinic-4.jpg' alt='')