.about
  &__inner
    display: flex
    justify-content: space-between
    align-items: center
    gap: 100px
    +screen('max', 1130)
      gap: 50px
    +screen('max', 700)
      display: block
    picture
      max-width: 565px
      flex-shrink: 0
      +screen('max', 1130)
        width: 45%
      +screen('max', 700)
        width: 100%
  &__pic
    width: 100%
    vertical-align: middle
  &__sign
    margin-bottom: 2.5rem
    font-weight: 500
    +fs(14px)
  &__title
    margin-bottom: 2.5rem
  &__txt
    margin-bottom: 2.5rem
    line-height: 1.5
    +fs(15px)
    font-weight: 500
  &__content
    +screen('max', 700)
      margin-top: 20px