+b.about.section
  +e.inner.inner
    +e.IMG.pic(src='/img/about.jpg' alt='')
    +e.content
      +e.P.sign Calidad en nuestros tratamientos dentales
      +e.H2.title En COP Dental tu sonrisa está en manos de 
        br
        | expertos
      +e.txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus, lacus sagittis efficitur ullamcorper, justo quam laoreet, justo quam.
      +e.A.call.btn.js-anchor(href="#") Pide tu cita gratis