+b.banner(style="background-image: url(/img/banner.jpg)")
  +e.inner.inner
    +e.P.title.display-1 Tu Clínica Dental en 
      br
      | Badalona
    +e.txt
      p Morbi aliquam, ante vel pellentesque fringilla, nunc justo fermentum augue, eu commodo justo urna ac urna. 
      p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi consectetur sem in justo elementum.
    +e.A.btn.btn.js-open-modal(href="#call") Llámenos ahora

+b.vnt
  +e.inner.inner
    +e.A.box(style="background-image: url(/img/vnt-1.jpg)" href='#')
      +e.PICTURE.picture
      +e.P.title Ortodoncia Invisible
      +e.more Saber más >>
    +e.A.box(href='#')
      +e.PICTURE.picture
        +e.IMG.pic(src='/icon/icon-vnt-1.svg' alt='')
      +e.P.title Implantes Dentales
      +e.more Saber más >>
    +e.A.box(href='#')
      +e.PICTURE.picture
        +e.IMG.pic(src='/icon/icon-vnt-2.svg' alt='')
      +e.P.title Higiene Dental
      +e.more Saber más >>
    +e.A.box(href='#')
      +e.PICTURE.picture
        +e.IMG.pic(src='/icon/icon-vnt-3.svg' alt='')
      +e.P.title Estética Dental
      +e.more Saber más >>