mixin header()
  +b.header
    +e.inner.inner
      +e.A.logo(href="/")
        picture
          +e.IMG.pic(src='/icon/icon-logo.svg' alt='')
      +e.content
        +e.info
          +e.social
            +e.A.sc(href="#")
              svg(viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg')
                path(d='M437 0H75C33.648 0 0 33.648 0 75v362c0 41.352 33.648 75 75 75h151V331h-60v-90h60v-61c0-49.629 40.371-90 90-90h91v90h-91v61h91l-15 90h-76v181h121c41.352 0 75-33.648 75-75V75c0-41.352-33.648-75-75-75zm0 0')
            +e.A.sc(href="#")
              svg(viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg')
                path(d='M437 0H75C33.648 0 0 33.648 0 75v362c0 41.352 33.648 75 75 75h362c41.352 0 75-33.648 75-75V75c0-41.352-33.648-75-75-75zM257 390c-74.441 0-135-60.559-135-135s60.559-135 135-135 135 60.559 135 135-60.559 135-135 135zm150-240c-24.813 0-45-20.188-45-45s20.188-45 45-45 45 20.188 45 45-20.188 45-45 45zm0 0')
                path(d='M407 90c-8.277 0-15 6.723-15 15s6.723 15 15 15 15-6.723 15-15-6.723-15-15-15zM257 150c-57.89 0-105 47.11-105 105s47.11 105 105 105 105-47.11 105-105-47.11-105-105-105zm0 0')
          +e.A.phone(href="tel:(+34) 640 82 12 55") (+34) 640 82 12 55
          +e.A.call.btn_white.js-anchor(href="#") Pedir cita
        +e.nav
          ul
            li
              a(href="#") Inicio
            li
              a(href="#") Tratamientos
              ul.sub-menu
                li#menu-item-44.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-44
                  a(href='http://cpdental.smailsjob.ru/medicina-estetica/') Medicina Estética
                li#menu-item-248.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-248
                  a(href='http://cpdental.smailsjob.ru/tratamientos-integrales/') Tratamientos Integrales
                li#menu-item-249.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-249
                  a(href='http://cpdental.smailsjob.ru/higiene-dental/') Higiene Dental
                li#menu-item-250.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-250
                  a(href='http://cpdental.smailsjob.ru/blanqueamiento-dental/') Blanqueamiento Dental
                li#menu-item-251.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-251
                  a(href='http://cpdental.smailsjob.ru/implantes-dentales/') Implantes Dentales
                li#menu-item-252.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-252
                  a(href='http://cpdental.smailsjob.ru/estetica-dental/') Estética Dental
                li#menu-item-254.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-254
                  a(href='http://cpdental.smailsjob.ru/ortodoncia/') Ortodoncia
                li#menu-item-253.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-253
                  a(href='http://cpdental.smailsjob.ru/carillas-dentales/') Carillas Dentales
                li#menu-item-255.menu-item.menu-item-type-post_type.menu-item-object-post.menu-item-255
                  a(href='http://cpdental.smailsjob.ru/urgencias-odontologicas/') Urgencias Odontologicas
            li
              a(href="#") Clínica
            li
              a(href="#") Contacto
            li
              a(href="#") Blog
      +e.mobile-menu
        .burger
          span