+b.map
  +e.IMG.pic(src='/img/map.png' alt='')

+b.FOOTER.footer
  +e.inner.inner
    +e.content
      +e.A.logo(href="/")
        picture
          +e.IMG.pic(src='/icon/icon-logo.svg' alt='')
      +e.info
        +e.phones
          +e.A.phone(href="tel:93 383 1842") Tel: 93 383 1842
          +e.A.phone(href="tel:640 82 12 55") Mov: 640 82 12 55
        +e.social
          +e.P.soc-title Síguenos:
          +e.soc-list
            +e.A.sc(href="#")
              svg(viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg')
                path(d='M437 0H75C33.648 0 0 33.648 0 75v362c0 41.352 33.648 75 75 75h151V331h-60v-90h60v-61c0-49.629 40.371-90 90-90h91v90h-91v61h91l-15 90h-76v181h121c41.352 0 75-33.648 75-75V75c0-41.352-33.648-75-75-75zm0 0')
            +e.A.sc(href="#")
              svg(viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg')
                path(d='M437 0H75C33.648 0 0 33.648 0 75v362c0 41.352 33.648 75 75 75h362c41.352 0 75-33.648 75-75V75c0-41.352-33.648-75-75-75zM257 390c-74.441 0-135-60.559-135-135s60.559-135 135-135 135 60.559 135 135-60.559 135-135 135zm150-240c-24.813 0-45-20.188-45-45s20.188-45 45-45 45 20.188 45 45-20.188 45-45 45zm0 0')
                path(d='M407 90c-8.277 0-15 6.723-15 15s6.723 15 15 15 15-6.723 15-15-6.723-15-15-15zM257 150c-57.89 0-105 47.11-105 105s47.11 105 105 105 105-47.11 105-105-47.11-105-105-105zm0 0')
      +e.P.addr Carrer de Francesc Macià, 39, 
        br
        | 08912 Badalona, Barcelona
    +e.instbox
      +e.IMG.stub(src='/img/stub.png' alt='')